<!-- Adapted from the "flaskr" tutorial at http://flask.pocoo.org/ -->

<!doctype html>
<title>JFP Server</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<div class="page">
  <h1>JFP Data</h1>
  {% if not session.logged_in %}
    <form action="{{ url_for('login') }}" method=post>
      <dl>
        <dt>Username:
        <dd><input type=text name=username>
        <dt>Password:
        <dd><input type=password name=password>
        <dd><input type=submit value=Login>
      </dl>
    </form>
  {% else %}
    <div class="metanav">
      <a href="{{ url_for('logout') }}">Log out</a>
    </div>
<!--<div class="console">
      <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
        <ul style="list-style: none">
          <li>Printer: 
          <li><textarea name="printer" rows="1" cols="10"></textarea>
          <li>Copies: 
          <li><textarea name="copies" rows="1" cols="10"></textarea>
          <li>Success: 
          <li><textarea name="success" rows="1" cols="10"></textarea>
          <li><input type="submit" value="Add">
        </ul>
      </form>
    </div>-->
    <div class="table-stats">
        <h4 class="stat">Total requests: {{ numrequests }}</h4>
        <h4 class="stat">Requests in the last 24 hours: {{ dayrequests }}</h4>
      </div>
      <div class="table-actions">
      {% if request.path == "/" %}
        <form action="{{ url_for('hide_successful') }}" method="post">
          <input type="submit" value="Hide Successful Requests">
        </form>
      {% else %}
        <form action="{{ url_for('show_successful') }}" method="post">
          <input type="submit" value="Show Successful Requests">
        </form>   
      {% endif %}
        <form action="{{ url_for('clear_database') }}" method="post">
          <input type="submit" value="Clear Database">
        </form>
      </div>
    {% if entries|length == 0 %}
        <p>Database is empty.</p>
    {% else %}
      <div class="table-scroll">
        <table class="entries">
          <tr>
            <th>Printer
            <th>Copies
            <th>Time
          </tr>
        {% for entry in entries %}
          <tr {% if entry.success == 0 %} class="error" {% endif %}>
            <td style="text-align: left">{{ entry.printer }}
            <td>{{ entry.copies }}
            <td>{{ entry.time }}
          </tr>
        {% endfor %}
        </table>
      </div>
    {% endif %} 
  {% endif %}
</div>