<!-- Adapted from the "flaskr" tutorial at http://flask.pocoo.org/ -->

{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <dl>
        <dt>Text:
        <dd><textarea name="text" rows="5" cols="40"></textarea>
        <dd><input type="hidden" id="date" name="date">
        <dd><input type="submit" value="Add">
      </dl>
    </form>
    <form action="{{ url_for('clear_database') }}" method="post" class="clear-database">
      <input type="submit" value="Clear Database">
    </form>
  <script type="text/javascript">
    document.getElementById('date').value = Date();
  </script>
  <ul class="entries">
  {% for entry in entries %}
    <li><h3>{{ entry.text|safe }}</h3>{{ entry.time }}
  {% else %}
    <li><em>Database is empty.</em>
  {% endfor %}
  </ul>
  {% endif %}
{% endblock %}