<!-- Adapted from the "flaskr" tutorial at http://flask.pocoo.org/ -->

{% extends "layout.html" %}
{% block body %}
    <form action="{{ url_for('add_entry') }}" method="post" class="add-entry">
      <ul style="list-style: none">
        <li>Printer: <textarea name="printer" rows="1" cols="10"></textarea>
        <li>Copies: <textarea name="copies" rows="1" cols="1"></textarea>
        <li>Success: <textarea name="success" rows="1" cols="1"></textarea>
        <li><input type="submit" value="Add">
      </ul>
    </form>
  <script type="text/javascript">
    document.getElementById('date').value = Date();
  </script>
  {% if session.logged_in %}
  <h4>Total requests: {{ numrequests }}</h4>
  <h4>Requests in the last 24 hours: {{ dayrequests }}</h4>
  <ul class="entries">
  {% for entry in entries %}
    <li><h4>{{ entry.time }}</h4> {{ entry.printer }}, copies: {{ entry.copies }}, success: {{ entry.success }}
  {% else %}
    <li><em>Database is empty.</em>
  {% endfor %}
  </ul>
  <form action="{{ url_for('clear_database') }}" method="post" class="clear-database">
    <input type="submit" value="Clear Database">
  </form>
  {% endif %}
{% endblock %}